@font-face {
    font-family: "MontserratLight";
    src: url("../fonts/Montserrat/Montserrat-Light.ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "MontserratRegular";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/Raleway/static/Raleway-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "RalewayMedium";
    src: url("../fonts/Raleway/static/Raleway-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
}

/*body {*/
/*    margin: 0 auto;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    min-height: 100vh;*/
/*}*/

.site_padding {
    padding-top: 80px;
    padding-bottom: 80px;
}